{% block head %}

    <meta charset="utf-8">

    <title>Reactor</title>

    <!-- meta -->
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="robots" content="noindex,follow">
    <meta name="keywords" content=" ">

    <!-- css -->
    <!--[if lte IE 8]>
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Oswald:300,400">
    <![endif]-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reactor-red.css') }}" type="text/css" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}" type="text/css" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.vegas.css') }}" type="text/css"/>
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Open+Sans:400' type="text/css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

{% endblock %}