<!doctype html>
<html lang="en-US">
<head>
<meta charset="utf-8">

<title>Reactor</title>

<!-- meta -->
<meta name="viewport" content="width=device-width, user-scalable=no">
<meta name="robots" content="noindex,follow">
<meta name="keywords" content=" ">

<!-- css -->
<!--[if lte IE 8]>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Oswald:300,400">
<![endif]-->
<link rel="stylesheet" href="style.css" type="text/css" media="screen">
<link rel="stylesheet" href="css/reactor-red.css" type="text/css" media="screen">
<link rel="stylesheet" href="css/responsive.css" type="text/css" media="screen">
<link rel="stylesheet" href="css/prettyPhoto.css" type="text/css" media="screen">
<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Open+Sans:400' type="text/css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

</head>
<body>
<div id="preloader">
	<div id="status">&nbsp;</div>
</div>

<div id="page">
	<div id="header">
		<div id="header-inner">
			<div id="logo">
				<h1><a href="index.html" rel="home">Reactor</a></h1>
			</div><!-- end logo -->

			<input type="checkbox" id="toggle">
			<label for="toggle" class="toggle" onclick><i class="fa fa-bars"></i></label>
			<div class="nav">
				<ul class="menu">
					<li><a href="index.html">Home</a></li>
					<li><a href="services.html">Services</a></li>
					<li><a href="portfolio.html">Portfolio</a></li>
					<li><a href="info.html">Info</a></li>
					<li class="current-menu-item"><a href="blog.html">Blog</a></li>
				</ul>
			</div><!-- end navigation -->
			<div class="clear"></div>
		</div>
	</div><!-- end header -->

	<div id="content-blog">
		<div class="post">
			<div class="postmetadata">
				<div class="date_postmetadata">15 Jan</div>
			</div>
			<a href="blog-post.html" title="Title"><img src="images/dummy-images/item2.png" alt="blog"></a>
			<h3><a href="blog-post.html">Title</a></h3>
			<div class="entry">
				<p>We remained at Weybridge until midday, and at that hour we found ourselves at the place near Shepperton Lock where the Wey and Thames join. Part of the time we spent helping two old women to pack a little cart. The Wey has a treble mouth, and at this point boats are to be hired, and there was a ferry across the river. On the Shepperton side was an inn with a lawn, and beyond that the tower of Shepperton Church-it has been replaced by a spire-rose above the trees. Here we found an excited and noisy crowd of fugitives. As yet the flight had not grown to a panic, but there were already far more people than all the boats going to and fro could enable to cross.</p>
				<blockquote><p>There was a lot of shouting, and one man was even jesting. The idea people seemed to have here was that the Martians were simply formidable human beings, who might attack and sack the town, to be certainly destroyed in the end. Every now and then people would glance nervously across the Wey, at the meadows towards Chertsey, but everything over there was still.</p></blockquote>
				<p>Across the Thames, except just where the boats landed, everything was quiet, in vivid contrast with the Surrey side. The people who landed there from the boats went tramping off down the lane. The big ferryboat had just made a journey. Three or four soldiers stood on the lawn of the inn, staring and jesting at the fugitives, without offering to help. The inn was closed, as it was now within prohibited hours.</p>
			</div>
		</div>
		<div class="clear"></div>

		<div class="relative"><div id="tags">Tags: <a href="#" rel="tag">chobham</a>, <a href="#" rel="tag">henderson</a>, <a href="#" rel="tag">ogilvy</a><br></div></div>

		<div class="comments-template">
			<h4>4 Comments</h4>
			<div class="relative">
				<ol class="commentlist">
					<li class="comment depth-1" id="comment-1">
						<div id="div-comment-1" class="comment-body">
							<div class="comment-author vcard">
								<img alt='' src='http://1.gravatar.com/avatar/d10ca8d11301c2f4993ac2279ce4b930?s=60&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D60&amp;r=G' class='avatar' height='60' width='60'><cite class="fn"><a href='#' rel='external nofollow' class='url'>Brandon Hall</a></cite>
							</div>

							<div class="comment-meta commentmetadata">
								<a href="#">January 30, 2014 at 10:05 pm</a>
							</div>

							<p>The Wey has a treble mouth, and at this point boats are to be hired, and there was a ferry across the river. On the Shepperton side was an inn with a lawn, and beyond that the tower of Shepperton Church-it has been replaced by a spire-rose above the trees. Here we found an excited and noisy crowd of fugitives. As yet the flight had not grown to a panic, but there were already far more people than all the boats going to and fro could enable to cross.</p>

							<div class="reply">
								<a class='comment-reply-link' href='#'>Reply</a>
							</div>
						</div>
					</li><!-- #comment-## -->

					<li class="comment even thread-even depth-1 parent" id="comment-2">
						<div id="div-comment-2" class="comment-body">
							<div class="comment-author vcard">
								<img alt='' src='http://0.gravatar.com/avatar/ec69cee30e0f484433cdd537ec0ce2db?s=60&amp;d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D60&amp;r=G' class='avatar' height='60' width='60'><cite class="fn"><a href='#' rel='external nofollow' class='url'>Amy Oliver</a></cite>
							</div>
						
							<div class="comment-meta commentmetadata">
								<a href="#">January 30, 2014 at 10:33 pm</a>
							</div>

							<p>He told me that a faint stirring was occasionally still audible within the case, but that the workmen had failed to unscrew the top, as it afforded no grip to them. The case appeared to be enormously thick, and it was possible that the faint sounds we heard represented a noisy tumult in the interior. I was very glad to do as he asked, and so become one of the privileged spectators within the contemplated enclosure.</p>

							<div class="reply">
								<a class='comment-reply-link' href='#'>Reply</a>
							</div>
						</div>

						<ul class="children">
							<li class="comment odd alt depth-2" id="comment-3">
								<div id="div-comment-3" class="comment-body">
									<div class="comment-author vcard">
										<img alt='' src='http://0.gravatar.com/avatar/ec69cee30e0f484433cdd537ec0ce2db?s=60&amp;d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D60&amp;r=G' class='avatar photo' height='60' width='60'><cite class="fn"><a href='#' rel='external nofollow' class='url'>Liam Buckley</a></cite>
									</div>
							
									<div class="comment-meta commentmetadata">
										<a href="#">January 30, 2014 at 11:12 pm</a>
									</div>

									<p>We saw as we crossed the railway bridge that a growing crowd of people had assembled in and about the railway station, and the swarming platform was piled with boxes and packages. The ordinary traffic had been stopped, I believe, in order to allow of the passage of troops and guns to Chertsey, and I have heard since that a savage struggle occurred for places in the special trains that were put on at a later hour.</p>

									<div class="reply">
										<a class='comment-reply-link' href='#'>Reply</a>
									</div>
								</div>
							</li><!-- #comment-## -->
						</ul><!-- .children -->
					</li><!-- #comment-## -->
				</ol>
			</div>

			<div id="respond">
				<h4>Leave a Reply</h4>
				<form class="form" action="#" method="post" id="comments">
					<ol class="fieldset">
						<li class="field">
							<input class="text" type="text" name="author" id="author" placeholder="Name" size="22" tabindex="1" aria-required='true'>
						</li>

						<li class="field">
							<input class="text" type="text" name="email" id="email" placeholder="E-mail" size="22" tabindex="2" aria-required='true'>
						</li>

						<li class="field">
							<input class="text" type="text" name="url" id="url" placeholder="Website" size="22" tabindex="3">
						</li>

						<li class="clear"></li>

						<li class="field">
							<textarea class="textarea" name="comment" id="comment" cols="14" rows="10" tabindex="4"></textarea>
						</li>
					</ol>

					<p><input name="submit" type="submit" class="button" tabindex="1" value="Submit Comment"></p>
				</form>
			</div><!-- end respond -->
		</div><!-- end comments-template -->
	</div><!-- end content-blog -->

	<div id="footer">
		<div id="copyright">
			<p>Copyright 2014 <a href="index.html">Reactor</a>. Design by <a href="http://sngv.net">SNGV</a>.</p>
		</div>
	</div><!-- end footer -->
</div><!-- end page -->

<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="js/jquery.isotope.js"></script>
<script src="js/jquery.isotope-custom.js"></script>
<script src="js/jquery.preloader.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>
<script src="js/image-fade.js"></script>

<script type="text/javascript">
  $(document).ready(function(){
    $("a[rel^='prettyPhoto']").prettyPhoto();
  });
</script>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</body>
</html>