<!doctype html>
<html lang="en-US">
<head>
<meta charset="utf-8">

<title>Reactor</title>

<!-- meta -->
<meta name="viewport" content="width=device-width, user-scalable=no">
<meta name="robots" content="noindex,follow">
<meta name="keywords" content=" ">

<!-- css -->
<!--[if lte IE 8]>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Oswald:300,400">
<![endif]-->
<link rel="stylesheet" href="style.css" type="text/css" media="screen">
<link rel="stylesheet" href="css/reactor-red.css" type="text/css" media="screen">
<link rel="stylesheet" href="css/responsive.css" type="text/css" media="screen">
<link rel="stylesheet" href="css/prettyPhoto.css" type="text/css" media="screen">
<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Open+Sans:400' type="text/css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

</head>
<body>
<div id="preloader">
	<div id="status">&nbsp;</div>
</div>

<div id="page">
	<div id="header">
		<div id="header-inner">
			<div id="logo">
				<h1><a href="index.html" rel="home">Reactor</a></h1>
			</div><!-- end logo -->

			<input type="checkbox" id="toggle">
			<label for="toggle" class="toggle" onclick><i class="fa fa-bars"></i></label>
			<div class="nav">
				<ul class="menu">
					<li><a href="index.html">Home</a></li>
					<li><a href="services.html">Services</a></li>
					<li><a href="portfolio.html">Portfolio</a></li>
					<li class="current-menu-item"><a href="info.html">Info</a></li>
					<li><a href="blog.html">Blog</a></li>
				</ul>
			</div><!-- end navigation -->
			<div class="clear"></div>
		</div>
	</div><!-- end header -->

	<div id="content">
		<h4>The studio</h4>
		<div class="one_half">
			<p>He told me that a faint stirring was occasionally still audible within the case, but that the workmen had failed to unscrew the top, as it afforded no grip to them. The case appeared to be enormously thick, and it was possible that the faint sounds we heard represented a noisy tumult in the interior. I was very glad to do as he asked, and so become one of the privileged spectators within the contemplated enclosure. I failed to find Lord Hilton at his house, but I was told he was expected from London by the six</p>
		</div>

		<div class="one_half column-last">
			<p>o'clock train from Waterloo. Going to the edge of the pit, I found it occupied by a group of about half a dozen men - Henderson, Ogilvy, and a tall, fair-haired man that I afterwards learned was Stent, the Astronomer Royal, with several workmen wielding spades and pickaxes. He was standing on the cylinder, which was now evidently much cooler; his face was crimson and streaming with perspiration, and something seemed to have irritated him.</p>
		</div>
		<div class="clear"></div>

		<hr>

		<h4>The team</h4>
		<div class="one_fourth">
			<div class="profile-pic"><a href="#"><img src="images/dummy-images/member.png" alt="Brandon Hall"></a></div>
			<div class="profile">
				<h6><a href="#">Brandon Hall</a></h6>
				<p>Creative Director</p>
			</div>
			<p><a href="#" class="fa fa-twitter social-fa"></a><a href="#" class="fa fa-linkedin social-fa"></a></p>
		</div>

		<div class="one_fourth">
			<div class="profile-pic"><a href="#"><img src="images/dummy-images/member.png" alt="Amy Oliver"></a></div>
			<div class="profile">
				<h6><a href="#">Amy Oliver</a></h6>
				<p>Web Designer</p>
			</div>
			<p><a href="#" class="fa fa-twitter social-fa"></a><a href="#" class="fa fa-linkedin social-fa"></a></p>
		</div>

		<div class="one_fourth">
			<div class="profile-pic"><a href="#"><img src="images/dummy-images/member.png" alt="Liam Buckley"></a></div>
			<div class="profile">
				<h6><a href="#">Liam Buckley</a></h6>
				<p>Web developer</p>
			</div>
			<p><a href="#" class="fa fa-twitter social-fa"></a><a href="#" class="fa fa-linkedin social-fa"></a></p>
		</div>

		<div class="one_fourth column-last">
			<div class="profile-pic"><a href="#"><img src="images/dummy-images/member.png" alt="Richard Davidson"></a></div>
			<div class="profile">
				<h6><a href="#">Richard Davidson</a></h6>
				<p>Graphic designer</p>
			</div>
			<p><a href="#" class="fa fa-twitter social-fa"></a><a href="#" class="fa fa-linkedin social-fa"></a></p>
		</div>
		<div class="clear"></div>

		<hr>

		<h4>Contact</h4>
		<div class="three_fourth">
			<div id="contact-form">
				<form id="contact" method="post" action="#">
					<ul>
						<li>
							<input type="text" name="name" id="form_name_field" placeholder="Name">
						</li>

						<li>
							<input type="text" name="email" id="form_email_field" placeholder="E-mail">
						</li>

						<li class="clear"></li>

						<li>
							<textarea name="message" id="form_message_field" rows="20" cols="30"></textarea>
						</li>
					</ul>

					<button type="submit" class="button">Send Message</button>
					<input type="hidden" name="submitted" id="submitted" value="true">
				</form>
				<div class="clear"></div>
			</div><!-- end contact form -->
		</div>

		<div class="one_fourth column-last">
			<div class="contact_info">
				<p>Reactor Studio
				<br>King Street 77
				<br>London
				<br>+44 20 8492 1151
				<br><a href="#">hello@reactor.com</a></p>

				<p><a href="#">Twitter</a>
				<br><a href="#">Facebook</a>
				<br><a href="#">Dribbble</a>
				<br><a href="#">GitHub</a></p>
			</div>
		</div>
		<div class="clear"></div>
	</div><!-- end content -->

	<div id="footer">
		<div id="copyright">
			<p>Copyright 2014 <a href="index.html">Reactor</a>. Design by <a href="http://sngv.net">SNGV</a>.</p>
		</div>
	</div><!-- end footer -->
</div><!-- end page -->

<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="js/jquery.isotope.js"></script>
<script src="js/jquery.isotope-custom.js"></script>
<script src="js/jquery.preloader.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script src="js/image-fade.js"></script>
<script src="js/jquery.validate.js"></script>
<script src="js/jquery.form.js"></script>

<script>
$(function(){
$('#contact').validate({
submitHandler: function(form) {
    $(form).ajaxSubmit({
    url: 'process.php',
    success: function() {
    $('#contact').hide();
    $('#contact-form').append("<p class='thanks'>Message sent.</p>")
    }
    });
    }
});         
});
</script>

<script type="text/javascript">
  $(document).ready(function(){
    $("a[rel^='prettyPhoto']").prettyPhoto();
  });
</script>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</body>
</html>