<!doctype html>
<html lang="en-US">
<head>
<meta charset="utf-8">

<title>Reactor</title>

<!-- meta -->
<meta name="viewport" content="width=device-width, user-scalable=no">
<meta name="robots" content="noindex,follow">
<meta name="keywords" content=" ">

<!-- css -->
<!--[if lte IE 8]>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Oswald:300,400">
<![endif]-->
<link rel="stylesheet" href="style.css" type="text/css" media="screen">
<link rel="stylesheet" href="css/reactor-red.css" type="text/css" media="screen">
<link rel="stylesheet" href="css/responsive.css" type="text/css" media="screen">
<link rel="stylesheet" href="css/prettyPhoto.css" type="text/css" media="screen">
<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Open+Sans:400' type="text/css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

</head>
<body>
<div id="preloader">
	<div id="status">&nbsp;</div>
</div>

<div id="page">
	<div id="header">
		<div id="header-inner">
			<div id="logo">
				<h1><a href="index.html" rel="home">Reactor</a></h1>
			</div><!-- end logo -->

			<input type="checkbox" id="toggle">
			<label for="toggle" class="toggle" onclick><i class="fa fa-bars"></i></label>
			<div class="nav">
				<ul class="menu">
					<li><a href="index.html">Home</a></li>
					<li><a href="services.html">Services</a></li>
					<li class="current-menu-item"><a href="portfolio.html">Portfolio</a></li>
					<li><a href="info.html">Info</a></li>
					<li><a href="blog.html">Blog</a></li>
				</ul>
			</div><!-- end navigation -->
			<div class="clear"></div>
		</div>
	</div><!-- end header -->

	<div id="content">
		<div id="item-page-info">
			<h3>Title</h3>
			<p>There were half a dozen flies or more from the Woking station standing in the road by the sand pits, a basket-chaise from Chobham, and a rather lordly carriage. Besides that, there was quite a heap of bicycles.</p>
			<p>In addition, a large number of people must have walked, in spite of the heat of the day, from Woking and Chertsey, so that there was altogether quite a considerable crowd-one or two gaily dressed ladies among the others.</p>
			<a class="item-button-previous" href="#"></a><a class="item-button-return" href="portfolio.html"></a><a class="item-button-next" href="#"></a>
			<div class="clear"></div>
		</div>

		<div id="item-page-content">
			<img src="images/dummy-images/item1.png" alt="Item">
		</div>
		<div class="clear"></div>
	</div><!-- end content -->

	<div id="footer">
		<div id="copyright">
			<p>Copyright 2014 <a href="index.html">Reactor</a>. Design by <a href="http://sngv.net">SNGV</a>.</p>
		</div>
	</div><!-- end footer -->
</div><!-- end page -->

<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="js/jquery.isotope.js"></script>
<script src="js/jquery.isotope-custom.js"></script>
<script src="js/jquery.preloader.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>
<script src="js/image-fade.js"></script>

<script type="text/javascript">
  $(document).ready(function(){
    $("a[rel^='prettyPhoto']").prettyPhoto();
  });
</script>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</body>
</html>