{% extends 'layout-pages.html' %}

{% block page %}
<div id="content">
		<div class="one_half">
			<div class="service">
				<i class="fa fa-desktop fa-fw service-fa"></i>
				<div class="service_content">
					<h3>Web design</h3>
					<p>Going to the edge of the pit, I found it occupied by a group of about half a dozen men - Henderson, Ogilvy, and a tall, fair-haired man that I afterwards learned was Stent, the Astronomer Royal, with several workmen wielding spades and pickaxes.  Stent was giving directions in a clear, high-pitched voice.</p>
				</div>
			</div>
		</div>

		<div class="one_half column-last">
			<div class="service">
				<i class="fa fa-sun-o fa-fw service-fa"></i>
				<div class="service_content">
					<h3>Branding</h3>
					<p>The growing crowd, he said, was becoming a serious impediment to their excavations, especially the boys.  They wanted a light railing put up, and help to keep the people back.  He told me that a faint stirring was occasionally still audible within the case, but that the workmen had failed to unscrew the top, as it afforded no grip to them.</p>
				</div>
			</div>
		</div>
		<div class="clear"></div>

		<div class="one_half">
			<div class="service">
				<i class="fa fa-bullhorn fa-fw service-fa"></i>
				<div class="service_content">
					<h3>SEO</h3>
					<p>When I returned to the common the sun was setting.  Scattered groups were hurrying from the direction of Woking, and one or two persons were returning.  The crowd about the pit had increased, and stood out black against the lemon yellow of the sky&#8211;a couple of hundred people, perhaps.</p>
				</div>
			</div>
		</div>

		<div class="one_half column-last">
			<div class="service">
				<i class="fa fa-eye fa-fw service-fa"></i>
				<div class="service_content">
					<h3>Graphic design</h3>
					<p>Besides that, there was quite a heap of bicycles.  In addition, a large number of people must have walked, in spite of the heat of the day, from Woking and Chertsey, so that there was altogether quite a considerable crowd&#8211;one or two gaily dressed ladies among the others.</p>
				</div>
			</div>
		</div>
		<div class="clear"></div>

		<div class="one_half">
			<div class="service">
				<i class="fa fa-tablet fa-fw service-fa"></i>
				<div class="service_content">
					<h3>App development</h3>
					<p>Going to the edge of the pit, I found it occupied by a group of about half a dozen men - Henderson, Ogilvy, and a tall, fair-haired man that I afterwards learned was Stent, the Astronomer Royal, with several workmen wielding spades and pickaxes.  Stent was giving directions in a clear, high-pitched voice.</p>
				</div>
			</div>
		</div>

		<div class="one_half column-last">
			<div class="service">
				<i class="fa fa-play-circle-o fa-fw service-fa"></i>
				<div class="service_content">
					<h3>Motion production</h3>
					<p>The growing crowd, he said, was becoming a serious impediment to their excavations, especially the boys.  They wanted a light railing put up, and help to keep the people back.  He told me that a faint stirring was occasionally still audible within the case, but that the workmen had failed to unscrew the top, as it afforded no grip to them.</p>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div><!-- end content -->
{% endblock page %}